*{
	box-sizing:border-box;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-test-size-adjust:none;
}
body{
	margin: 0;
	padding: 0;
	font-size: 13px;
}
img{
	border: 0px;
}
.module{
	margin: 0;
	padding: 0;
	width: 100%;
}
.m-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
}
.banner,
.progressbar,
.tip{
	width: 100%;
	box-sizing:border-box;
	min-width: 350px;
	
}
.banner{
	padding: 0 11px 0 3px;
	height: 48px;
	background-color: #D71E13;
	color: white;
}
.logo,
.analysis,
.ad,
.icons
{
	display: inline-block;
	vertical-align: top;
}

.logo img{
	width: 50px;
	margin-top: 8px;
}
.analysis{
	margin-left: 0px;
	font-size: 13px;
	margin-top: 8px;
}

.analysis-container{
	width: 60px;
}
.analysis .remain{
	color: #62C751;
}
.analysis .used{
	border-top: solid 1px #979797;
	margin-top: -1px;
}

.ad{
	min-width: 76px;
	margin-top: 5px;
	vertical-align:top;
	margin-right: 10px;
}
.ad img{
	height: 40px;
}
.icons{
	min-width: 116px;
  	margin-top: 3px;
}
.icons a{
	display: inline-block;
	width: 30%;
	text-align:center;
}

.icons a:link,
.icons a:visited{
	color: #fff;
	text-decoration: none;
}
.icon-contanier{
	width: 36px;
	text-align: center;
	display: inline-block;
}
.icon{
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	margin:1px auto;
}
.icon-text{
	font-size: 12px;
	margin-top: 3px;
}
.icon img{
	width: 26px;
	height: 26px;
}
.close{
	background: url('../images/close.png') no-repeat center;
	background-size: cover;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 1px;
	top: 1px;
	cursor: pointer;
}
.notification{
	position: absolute;
	right: -6px;
	top: -3px;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	background: #ff4542;
	border-radius: 8px;
	opacity: 0.9;
	color: white;
	font-size: 10px;
	padding: 0 2px;
}
.progressbar{
	height: 6px;
	background: #D8D8D8;
}

.progressbar-used{
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#ffffff,endColorStr=#FF5C2B); /*IE*/ 
 	background:-moz-linear-gradient(right,#FF5C2B,#fff);/*火狐*/ 
 	background:-webkit-gradient(linear, 100% 100%, 0% 0%,from(#FF5C2B), to(#fff));/*谷歌*/ 	
 	background-image: -webkit-gradient(linear,left right,bottom top,color-start(0, #FF5C2B),color-stop(1, #ffffff));/* Safari & Chrome*/
 	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#FF5C2B'); /*IE6 & IE7*/
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#FF5C2B')"; /* IE8 */

  	width: 60%;
  	height: 6px;
}
.tip{
	height: 30px;
	line-height: 32px;
	padding:0 5px;
	background: #EBE8E8 no-repeat 10px center;
	position: relative;
	font-size: 13px;
}
.tip img{
	height: 25px;
	margin-top: 2px;
	vertical-align: top;
}

.up{
	background: url('../images/up.png') no-repeat center;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.down{
	background: url('../images/down.png') no-repeat center;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.tip-detail{
	padding: 10px 30px;
	background: #EBE8E8;
	border-top: solid 1px #D8D8D8;
	font-size: 13px !important;
}
.tip-content{
	width: calc(100%-50px);
	overflow: hidden;
	white-space:nowrap;
}
.package{
	color: #D71E13;
}
.order-button{
	background: #D71E13;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	color: white;
	text-align: center;
	margin: 10px auto;
	width: 100px;
	display: block;
	cursor: pointer;
}

.popup-container{
    background: rgba(0,0,0,0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000; 
}
.popup{
    background: white;
    color: black;
    font-size: 15px;
    left: 50%;
    margin-left: -150px;
    min-height: 100px;
    position: absolute;
    top: 50px;
    z-index: 1111;
    border-radius: 5px;
    width: 300px;
}
.popup p{
	line-height: 25px;
}
.popup-title{
	border-bottom: solid 1px #ccc;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
}
.popup-content{
	padding: 10px;
}
.popup ul li{
	list-style: none;
	padding: 5px 0;
}
.popup-button{
	width: 100%;
}
.popup-button div{
	width: 150px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: none;
	display: inline-block;
	float: left;
	cursor: pointer;
}
.popup-button div.cancle{
	background: #D8D8D8;
	border-bottom-left-radius: 5px;
	color: #4A4A4A;
}
.popup-button div.submit{
	background: #D71E13;
	border-bottom-right-radius: 5px;
	color: white;
}

a:link,a:visited{
	color: #4097F0;
}
.logo{width: 15%;}
.analysis{	width: 18%;}
.ad{	width: 22%;}
.icons{	width: 40%;}
.icons a{ width: 30%}
.remain-data,.used-data{margin-left: 5px;}

/*当页页宽度小于或等于360px*/
@media (max-width: 410px) {
	.logo{width: 50px;}
	.analysis{	width: 57px;}
	.ad{	width: 100px; margin-right: 2px;}
	.icons{	width: 116px; float: right;}	
	.icons a{ width: 36px;}
	.remain-data,.used-data{margin-left: 0px;}
}

/*当页页宽度大于或者等于361*/
@media (min-width: 411px){
	.logo{width: 15%;}
	.analysis{	width: 18%;}
	.ad{	width: 22%;}
	.icons{	width: 40%;}
	.icons a{ width: 30%}
	.remain-data,.used-data{margin-left: 5px;}
}


